USE [master]
GO
/****** Object:  Database [DDSDA]    Script Date: 24-Dec-23 8:54:59 PM ******/
CREATE DATABASE [DDSDA]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DDSDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DDSDA]
GO
/****** Object:  Table [dbo].[Dim_Branch]    Script Date: 24-Dec-23 8:55:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Branch](
	[Branch_SK] [int] NOT NULL,
	[Branch_NK] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Dim_Branch] PRIMARY KEY CLUSTERED 
(
	[Branch_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 24-Dec-23 8:55:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[Date_SK] [int] IDENTITY(1,1) NOT NULL,
	[Date_NK] [datetime] NULL,
	[Hour] [time](0) NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[EnglishMonthName] [nvarchar](255) NULL,
	[VietnameseMonthName] [nvarchar](255) NULL,
	[BurmeseMonthName] [nvarchar](255) NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_Dim_Date] PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_PaymentType]    Script Date: 24-Dec-23 8:55:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_PaymentType](
	[PaymentType_SK] [int] NOT NULL,
	[PaymentType_NK] [nvarchar](255) NULL,
	[PaymentType_Name] [nvarchar](255) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Dim_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentType_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Product]    Script Date: 24-Dec-23 8:55:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Product](
	[Product_SK] [int] NOT NULL,
	[Product_NK] [nvarchar](255) NULL,
	[ProductLineId] [nvarchar](255) NULL,
	[ProductLineName] [nvarchar](255) NULL,
	[UnitPrice] [money] NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Dim_Product] PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Sales]    Script Date: 24-Dec-23 8:55:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Sales](
	[Date_Key] [int] NULL,
	[Product_Key] [int] NULL,
	[PaymentType_Key] [int] NULL,
	[Branch_Key] [int] NULL,
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_NK] [nvarchar](255) NOT NULL,
	[UnitPrice] [money] NULL,
	[Quantity] [int] NULL,
	[Crogs] [money] NULL,
	[Tax] [money] NULL,
	[Total] [money] NULL,
	[GrossMarginPercentange] [money] NULL,
	[GrossIncome] [money] NULL,
	[Rating] [float] NULL,
	[Gender] [nvarchar](6) NULL,
	[MemberType] [nvarchar](255) NULL,
 CONSTRAINT [PK_Fact_Sales_1] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Dim_Branch] ([Branch_SK], [Branch_NK], [Name], [Source], [Status]) VALUES (1, N'A', N'Yangon', 1, 1)
INSERT [dbo].[Dim_Branch] ([Branch_SK], [Branch_NK], [Name], [Source], [Status]) VALUES (2, N'C', N'Naypyitaw', 1, 1)
INSERT [dbo].[Dim_Branch] ([Branch_SK], [Branch_NK], [Name], [Source], [Status]) VALUES (3, N'B', N'Mandalay', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Dim_Date] ON 

INSERT [dbo].[Dim_Date] ([Date_SK], [Date_NK], [Hour], [Day], [Month], [EnglishMonthName], [VietnameseMonthName], [BurmeseMonthName], [Year]) VALUES (1, CAST(N'2019-01-05T13:08:00.000' AS DateTime), CAST(N'13:08:00' AS Time), 5, 1, N'January', N'Tháng một', N'ဇန်နဝါရီ', 2019)
INSERT [dbo].[Dim_Date] ([Date_SK], [Date_NK], [Hour], [Day], [Month], [EnglishMonthName], [VietnameseMonthName], [BurmeseMonthName], [Year]) VALUES (2, CAST(N'2019-03-26T18:37:00.000' AS DateTime), CAST(N'18:37:00' AS Time), 26, 3, N'March', N'Tháng ba', N'ချီတက်', 2019)
INSERT [dbo].[Dim_Date] ([Date_SK], [Date_NK], [Hour], [Day], [Month], [EnglishMonthName], [VietnameseMonthName], [BurmeseMonthName], [Year]) VALUES (3, CAST(N'2019-03-15T15:36:00.000' AS DateTime), CAST(N'15:36:00' AS Time), 15, 3, N'March', N'Tháng ba', N'ချီတက်', 2019)
GO
SET IDENTITY_INSERT [dbo].[Dim_Date] OFF
GO
INSERT [dbo].[Dim_PaymentType] ([PaymentType_SK], [PaymentType_NK], [PaymentType_Name], [Source], [Status]) VALUES (1, N'PMT1', N'Cash', 1, 1)
INSERT [dbo].[Dim_PaymentType] ([PaymentType_SK], [PaymentType_NK], [PaymentType_Name], [Source], [Status]) VALUES (2, N'PMT2', N'Credit card', 1, 1)
INSERT [dbo].[Dim_PaymentType] ([PaymentType_SK], [PaymentType_NK], [PaymentType_Name], [Source], [Status]) VALUES (3, N'PMT3', N'Ewallet', 1, 1)
GO
INSERT [dbo].[Dim_Product] ([Product_SK], [Product_NK], [ProductLineId], [ProductLineName], [UnitPrice], [Source], [Status]) VALUES (1, N'PID01', N'PD001', N'Health and beauty', 74.6900, 1, 1)
INSERT [dbo].[Dim_Product] ([Product_SK], [Product_NK], [ProductLineId], [ProductLineName], [UnitPrice], [Source], [Status]) VALUES (2, N'PID02', N'PD002', N'Electronic accessories', 58.2200, 1, 1)
INSERT [dbo].[Dim_Product] ([Product_SK], [Product_NK], [ProductLineId], [ProductLineName], [UnitPrice], [Source], [Status]) VALUES (3, N'PID03', N'PD003', N'Home and lifestyle', 68.8400, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Fact_Sales] ON 

INSERT [dbo].[Fact_Sales] ([Date_Key], [Product_Key], [PaymentType_Key], [Branch_Key], [InvoiceId], [Invoice_NK], [UnitPrice], [Quantity], [Crogs], [Tax], [Total], [GrossMarginPercentange], [GrossIncome], [Rating], [Gender], [MemberType]) VALUES (1, 1, 3, 1, 1, N'750-67-8428', 74.6900, 7, 522.8300, 26.1415, 548.9715, 4.7619, 26.1415, 9.1, N'Female', N'Member')
INSERT [dbo].[Fact_Sales] ([Date_Key], [Product_Key], [PaymentType_Key], [Branch_Key], [InvoiceId], [Invoice_NK], [UnitPrice], [Quantity], [Crogs], [Tax], [Total], [GrossMarginPercentange], [GrossIncome], [Rating], [Gender], [MemberType]) VALUES (2, 48, 2, 1, 2, N'760-53-9233', 47.6800, 3, 123.8400, 6.1920, 130.0320, 4.7619, 6.1920, 8.5, N'Male', N'Member')
INSERT [dbo].[Fact_Sales] ([Date_Key], [Product_Key], [PaymentType_Key], [Branch_Key], [InvoiceId], [Invoice_NK], [UnitPrice], [Quantity], [Crogs], [Tax], [Total], [GrossMarginPercentange], [GrossIncome], [Rating], [Gender], [MemberType]) VALUES (3, 95, 1, 1, 3, N'848-62-7243', 54.6700, 9, 224.0100, 11.2005, 235.2105, 4.7619, 11.2005, 7.4, N'Male', N'Normal')
GO
SET IDENTITY_INSERT [dbo].[Fact_Sales] OFF
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_Branch] FOREIGN KEY([Branch_Key])
REFERENCES [dbo].[Dim_Branch] ([Branch_SK])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_Branch]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_Date] FOREIGN KEY([Date_Key])
REFERENCES [dbo].[Dim_Date] ([Date_SK])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_Date]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_PaymentType] FOREIGN KEY([PaymentType_Key])
REFERENCES [dbo].[Dim_PaymentType] ([PaymentType_SK])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_PaymentType]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_Product] FOREIGN KEY([Product_Key])
REFERENCES [dbo].[Dim_Product] ([Product_SK])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_Product]
GO
USE [master]
GO
