USE [master]
GO
/****** Object:  Database [SourceDA]    Script Date: 29-Nov-23 10:33:39 AM ******/
CREATE DATABASE [SourceDA]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SourceDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SourceDA]
GO
/****** Object:  Table [dbo].[Branch_Source]    Script Date: 29-Nov-23 10:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch_Source](
	[Branch] [nvarchar](150) NULL,
	[City] [nvarchar](255) NULL,
	[createdDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Source]    Script Date: 29-Nov-23 10:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Source](
	[ProductID] [nvarchar](150) NULL,
	[Unit price] [money] NULL,
	[ProductLine] [nvarchar](150) NULL,
	[createdDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLine_Source]    Script Date: 29-Nov-23 10:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLine_Source](
	[Product line] [nvarchar](255) NULL,
	[ProductLineID] [nvarchar](150) NULL,
	[createdDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Source]    Script Date: 29-Nov-23 10:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Source](
	[Branch] [nvarchar](150) NULL,
	[Invoice ID] [nvarchar](150) NULL,
	[Customer type] [nvarchar](255) NULL,
	[Gender] [nvarchar](6) NULL,
	[ProductID] [nvarchar](150) NULL,
	[Quantity] [int] NULL,
	[Tax 5%] [money] NULL,
	[Total] [money] NULL,
	[Payment] [nvarchar](150) NULL,
	[cogs] [money] NULL,
	[gross margin percentage] [money] NULL,
	[gross income] [money] NULL,
	[Rating] [float] NULL,
	[createdDate] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Branch_Source] ([Branch], [City], [createdDate]) VALUES (N'A', N'Yangon', CAST(N'2023-11-29T10:27:21.880' AS DateTime))
INSERT [dbo].[Branch_Source] ([Branch], [City], [createdDate]) VALUES (N'C', N'Naypyitaw', CAST(N'2023-11-29T10:27:21.880' AS DateTime))
INSERT [dbo].[Branch_Source] ([Branch], [City], [createdDate]) VALUES (N'B', N'Mandalay', CAST(N'2023-11-29T10:27:21.880' AS DateTime))
GO
INSERT [dbo].[Product_Source] ([ProductID], [Unit price], [ProductLine], [createdDate]) VALUES (N'PID01', 74.6900, N'PD001', CAST(N'2023-11-29T10:27:21.877' AS DateTime))
INSERT [dbo].[Product_Source] ([ProductID], [Unit price], [ProductLine], [createdDate]) VALUES (N'PID02', 58.2200, N'PD002', CAST(N'2023-11-29T10:27:21.877' AS DateTime))
INSERT [dbo].[Product_Source] ([ProductID], [Unit price], [ProductLine], [createdDate]) VALUES (N'PID03', 68.8400, N'PD003', CAST(N'2023-11-29T10:27:21.877' AS DateTime))
GO
INSERT [dbo].[ProductLine_Source] ([Product line], [ProductLineID], [createdDate]) VALUES (N'Health and beauty', N'PD001', CAST(N'2023-11-29T10:27:21.860' AS DateTime))
INSERT [dbo].[ProductLine_Source] ([Product line], [ProductLineID], [createdDate]) VALUES (N'Electronic accessories', N'PD002', CAST(N'2023-11-29T10:27:21.860' AS DateTime))
INSERT [dbo].[ProductLine_Source] ([Product line], [ProductLineID], [createdDate]) VALUES (N'Home and lifestyle', N'PD003', CAST(N'2023-11-29T10:27:21.860' AS DateTime))
GO
INSERT [dbo].[Sales_Source] ([Branch], [Invoice ID], [Customer type], [Gender], [ProductID], [Quantity], [Tax 5%], [Total], [Payment], [cogs], [gross margin percentage], [gross income], [Rating], [createdDate]) VALUES (N'A', N'750-67-8428', N'Member', N'Female', N'PID01', 7, 26.1415, 548.9715, N'Ewallet', 522.8300, 4.7619, 26.1415, 9.1, CAST(N'2019-01-05T13:08:00.000' AS DateTime))
INSERT [dbo].[Sales_Source] ([Branch], [Invoice ID], [Customer type], [Gender], [ProductID], [Quantity], [Tax 5%], [Total], [Payment], [cogs], [gross margin percentage], [gross income], [Rating], [createdDate]) VALUES (N'A', N'123-19-1176', N'Member', N'Male', N'PID02', 8, 23.2880, 489.0480, N'Ewallet', 465.7600, 4.7619, 23.2880, 8.4, CAST(N'2019-01-27T20:33:00.000' AS DateTime))
INSERT [dbo].[Sales_Source] ([Branch], [Invoice ID], [Customer type], [Gender], [ProductID], [Quantity], [Tax 5%], [Total], [Payment], [cogs], [gross margin percentage], [gross income], [Rating], [createdDate]) VALUES (N'A', N'355-53-5943', N'Member', N'Female', N'PID03', 6, 20.6520, 433.6920, N'Ewallet', 413.0400, 4.7619, 20.6520, 5.8, CAST(N'2019-02-25T14:36:00.000' AS DateTime))
GO
USE [master]
GO
