USE [master]
GO
/****** Object:  Database [NDSDA]    Script Date: 24-Dec-23 5:49:24 PM ******/
CREATE DATABASE [NDSDA]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NDSDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NDSDA]
GO
/****** Object:  Table [dbo].[Branch_NDS]    Script Date: 24-Dec-23 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch_NDS](
	[Branch_SK] [int] IDENTITY(1,1) NOT NULL,
	[Branch_NK] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_City_NDS] PRIMARY KEY CLUSTERED 
(
	[Branch_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_NDS]    Script Date: 24-Dec-23 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_NDS](
	[Invoice_SK] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_NK] [nvarchar](255) NULL,
	[ProductId] [int] NULL,
	[MemberType] [nvarchar](255) NULL,
	[Gender] [nvarchar](6) NULL,
	[Quantity] [int] NULL,
	[Crogs] [money] NULL,
	[Tax] [money] NULL,
	[Total] [money] NULL,
	[GrossMarginPercentage] [money] NULL,
	[GrossIncome] [money] NULL,
	[Rating] [float] NULL,
	[BranchId] [int] NULL,
	[PaymentId] [int] NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_Invoice_NDS] PRIMARY KEY CLUSTERED 
(
	[Invoice_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType_NDS]    Script Date: 24-Dec-23 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType_NDS](
	[PaymentType_SK] [int] IDENTITY(1,1) NOT NULL,
	[PaymentType_NK] [nvarchar](255) NULL,
	[PaymentTypeName] [nvarchar](255) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentType_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_NDS]    Script Date: 24-Dec-23 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_NDS](
	[Product_SK] [int] IDENTITY(1,1) NOT NULL,
	[Product_NK] [nvarchar](255) NULL,
	[ProductLineId] [int] NULL,
	[UnitPrice] [money] NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_Product_NDS] PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLine_NDS]    Script Date: 24-Dec-23 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLine_NDS](
	[ProductLine_SK] [int] IDENTITY(1,1) NOT NULL,
	[ProductLine_NK] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_ProductLine] PRIMARY KEY CLUSTERED 
(
	[ProductLine_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Source_NDS]    Script Date: 24-Dec-23 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Source_NDS](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Source] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_NDS]    Script Date: 24-Dec-23 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_NDS](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Source_NDS] ([Id], [Name]) VALUES (1, N'supemarket_sales')
GO
INSERT [dbo].[Status_NDS] ([Id], [Name]) VALUES (0, N'Inactive')
INSERT [dbo].[Status_NDS] ([Id], [Name]) VALUES (1, N'Active')
GO
ALTER TABLE [dbo].[Branch_NDS]  WITH CHECK ADD  CONSTRAINT [FK_City_NDS_Source_NDS] FOREIGN KEY([Source])
REFERENCES [dbo].[Source_NDS] ([Id])
GO
ALTER TABLE [dbo].[Branch_NDS] CHECK CONSTRAINT [FK_City_NDS_Source_NDS]
GO
ALTER TABLE [dbo].[Branch_NDS]  WITH CHECK ADD  CONSTRAINT [FK_City_NDS_Status_NDS] FOREIGN KEY([Status])
REFERENCES [dbo].[Status_NDS] ([Id])
GO
ALTER TABLE [dbo].[Branch_NDS] CHECK CONSTRAINT [FK_City_NDS_Status_NDS]
GO
ALTER TABLE [dbo].[Invoice_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_NDS_Branch_NDS] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch_NDS] ([Branch_SK])
GO
ALTER TABLE [dbo].[Invoice_NDS] CHECK CONSTRAINT [FK_Invoice_NDS_Branch_NDS]
GO
ALTER TABLE [dbo].[Invoice_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_NDS_PaymentType_NDS] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[PaymentType_NDS] ([PaymentType_SK])
GO
ALTER TABLE [dbo].[Invoice_NDS] CHECK CONSTRAINT [FK_Invoice_NDS_PaymentType_NDS]
GO
ALTER TABLE [dbo].[Invoice_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_NDS_Product_NDS] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product_NDS] ([Product_SK])
GO
ALTER TABLE [dbo].[Invoice_NDS] CHECK CONSTRAINT [FK_Invoice_NDS_Product_NDS]
GO
ALTER TABLE [dbo].[PaymentType_NDS]  WITH CHECK ADD  CONSTRAINT [FK_PaymentType_NDS_Source_NDS] FOREIGN KEY([Source])
REFERENCES [dbo].[Source_NDS] ([Id])
GO
ALTER TABLE [dbo].[PaymentType_NDS] CHECK CONSTRAINT [FK_PaymentType_NDS_Source_NDS]
GO
ALTER TABLE [dbo].[PaymentType_NDS]  WITH CHECK ADD  CONSTRAINT [FK_PaymentType_NDS_Status_NDS] FOREIGN KEY([Status])
REFERENCES [dbo].[Status_NDS] ([Id])
GO
ALTER TABLE [dbo].[PaymentType_NDS] CHECK CONSTRAINT [FK_PaymentType_NDS_Status_NDS]
GO
ALTER TABLE [dbo].[Product_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Product_NDS_ProductLine_NDS] FOREIGN KEY([ProductLineId])
REFERENCES [dbo].[ProductLine_NDS] ([ProductLine_SK])
GO
ALTER TABLE [dbo].[Product_NDS] CHECK CONSTRAINT [FK_Product_NDS_ProductLine_NDS]
GO
ALTER TABLE [dbo].[Product_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Product_NDS_Source_NDS] FOREIGN KEY([Source])
REFERENCES [dbo].[Source_NDS] ([Id])
GO
ALTER TABLE [dbo].[Product_NDS] CHECK CONSTRAINT [FK_Product_NDS_Source_NDS]
GO
ALTER TABLE [dbo].[Product_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Product_NDS_Status_NDS] FOREIGN KEY([Status])
REFERENCES [dbo].[Status_NDS] ([Id])
GO
ALTER TABLE [dbo].[Product_NDS] CHECK CONSTRAINT [FK_Product_NDS_Status_NDS]
GO
ALTER TABLE [dbo].[ProductLine_NDS]  WITH CHECK ADD  CONSTRAINT [FK_ProductLine_NDS_Source_NDS] FOREIGN KEY([Source])
REFERENCES [dbo].[Source_NDS] ([Id])
GO
ALTER TABLE [dbo].[ProductLine_NDS] CHECK CONSTRAINT [FK_ProductLine_NDS_Source_NDS]
GO
ALTER TABLE [dbo].[ProductLine_NDS]  WITH CHECK ADD  CONSTRAINT [FK_ProductLine_NDS_Status_NDS] FOREIGN KEY([Status])
REFERENCES [dbo].[Status_NDS] ([Id])
GO
ALTER TABLE [dbo].[ProductLine_NDS] CHECK CONSTRAINT [FK_ProductLine_NDS_Status_NDS]
GO
USE [master]
GO
