USE [master]
GO
/****** Object:  Database [SourceDA]    Script Date: 29-Nov-23 10:32:08 AM ******/
CREATE DATABASE [SourceDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SourceDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SourceDA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SourceDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SourceDA_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SourceDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SourceDA]
GO
/****** Object:  Table [dbo].[Branch_Source]    Script Date: 29-Nov-23 10:32:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch_Source](
	[Branch] [nvarchar](150) NULL,
	[City] [nvarchar](255) NULL,
	[createdDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Source]    Script Date: 29-Nov-23 10:32:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Source](
	[ProductID] [nvarchar](150) NULL,
	[Unit price] [money] NULL,
	[ProductLine] [nvarchar](150) NULL,
	[createdDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLine_Source]    Script Date: 29-Nov-23 10:32:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLine_Source](
	[Product line] [nvarchar](255) NULL,
	[ProductLineID] [nvarchar](150) NULL,
	[createdDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Source]    Script Date: 29-Nov-23 10:32:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Source](
	[Branch] [nvarchar](150) NULL,
	[Invoice ID] [nvarchar](150) NULL,
	[Customer type] [nvarchar](255) NULL,
	[Gender] [nvarchar](6) NULL,
	[ProductID] [nvarchar](150) NULL,
	[Quantity] [int] NULL,
	[Tax 5%] [money] NULL,
	[Total] [money] NULL,
	[Payment] [nvarchar](150) NULL,
	[cogs] [money] NULL,
	[gross margin percentage] [money] NULL,
	[gross income] [money] NULL,
	[Rating] [float] NULL,
	[createdDate] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
