USE [master]
GO
/****** Object:  Database [StageDA]    Script Date: 14-Dec-23 4:39:43 PM ******/
CREATE DATABASE [StageDA]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StageDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StageDA]
GO
/****** Object:  Table [dbo].[Branch_Stage]    Script Date: 14-Dec-23 4:39:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch_Stage](
	[Branch] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Stage]    Script Date: 14-Dec-23 4:39:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Stage](
	[ProductID] [nvarchar](255) NULL,
	[Unit price] [money] NULL,
	[ProductLine] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLine_Source]    Script Date: 14-Dec-23 4:39:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLine_Source](
	[Product line] [nvarchar](255) NULL,
	[ProductLineID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLine_Stage]    Script Date: 14-Dec-23 4:39:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLine_Stage](
	[Product line] [nvarchar](255) NULL,
	[ProductLineID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Stage]    Script Date: 14-Dec-23 4:39:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Stage](
	[Branch] [nvarchar](255) NULL,
	[Invoice ID] [nvarchar](255) NULL,
	[Customer type] [nvarchar](255) NULL,
	[Gender] [nvarchar](6) NULL,
	[ProductID] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
	[Tax 5%] [money] NULL,
	[Total] [money] NULL,
	[Payment] [nvarchar](255) NULL,
	[cogs] [money] NULL,
	[gross margin percentage] [money] NULL,
	[gross income] [money] NULL,
	[Rating] [float] NULL,
	[createdDate] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
