USE [master]
GO
/****** Object:  Database [DDSDA]    Script Date: 24-Dec-23 7:26:33 PM ******/
CREATE DATABASE [DDSDA]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DDSDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DDSDA]
GO
/****** Object:  Table [dbo].[Dim_Branch]    Script Date: 24-Dec-23 7:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Branch](
	[Branch_SK] [int] NOT NULL,
	[Branch_NK] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Dim_Branch] PRIMARY KEY CLUSTERED 
(
	[Branch_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 24-Dec-23 7:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[Date_SK] [int] IDENTITY(1,1) NOT NULL,
	[Date_NK] [datetime] NULL,
	[Hour] [time](0) NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[EnglishMonthName] [nvarchar](255) NULL,
	[VietnameseMonthName] [nvarchar](255) NULL,
	[BurmeseMonthName] [nvarchar](255) NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_Dim_Date] PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_PaymentType]    Script Date: 24-Dec-23 7:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_PaymentType](
	[PaymentType_SK] [int] NOT NULL,
	[PaymentType_NK] [nvarchar](255) NULL,
	[PaymentType_Name] [nvarchar](255) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Dim_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentType_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Product]    Script Date: 24-Dec-23 7:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Product](
	[Product_SK] [int] NOT NULL,
	[Product_NK] [nvarchar](255) NULL,
	[ProductLineId] [nvarchar](255) NULL,
	[ProductLineName] [nvarchar](255) NULL,
	[UnitPrice] [money] NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Dim_Product] PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Sales]    Script Date: 24-Dec-23 7:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Sales](
	[Date_Key] [int] NULL,
	[Product_Key] [int] NULL,
	[PaymentType_Key] [int] NULL,
	[Branch_Key] [int] NULL,
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_NK] [nvarchar](255) NOT NULL,
	[UnitPrice] [money] NULL,
	[Quantity] [int] NULL,
	[Crogs] [money] NULL,
	[Tax] [money] NULL,
	[Total] [money] NULL,
	[GrossMarginPercentange] [money] NULL,
	[GrossIncome] [money] NULL,
	[Rating] [float] NULL,
	[Gender] [nvarchar](6) NULL,
	[MemberType] [nvarchar](255) NULL,
 CONSTRAINT [PK_Fact_Sales_1] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_Branch] FOREIGN KEY([Branch_Key])
REFERENCES [dbo].[Dim_Branch] ([Branch_SK])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_Branch]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_Date] FOREIGN KEY([Date_Key])
REFERENCES [dbo].[Dim_Date] ([Date_SK])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_Date]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_PaymentType] FOREIGN KEY([PaymentType_Key])
REFERENCES [dbo].[Dim_PaymentType] ([PaymentType_SK])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_PaymentType]
GO
ALTER TABLE [dbo].[Fact_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sales_Dim_Product] FOREIGN KEY([Product_Key])
REFERENCES [dbo].[Dim_Product] ([Product_SK])
GO
ALTER TABLE [dbo].[Fact_Sales] CHECK CONSTRAINT [FK_Fact_Sales_Dim_Product]
GO
USE [master]
GO
