USE [master]
GO
/****** Object:  Database [NDSDA]    Script Date: 20-Nov-23 11:09:13 PM ******/
CREATE DATABASE [NDSDA]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NDSDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NDSDA]
GO
/****** Object:  Table [dbo].[Branch_NDS]    Script Date: 20-Nov-23 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch_NDS](
	[Branch_SK] [int] IDENTITY(1,1) NOT NULL,
	[Branch_NK] [nvarchar](5) NULL,
	[Name] [nvarchar](50) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_City_NDS] PRIMARY KEY CLUSTERED 
(
	[Branch_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_NDS]    Script Date: 20-Nov-23 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_NDS](
	[Customer_SK] [int] IDENTITY(1,1) NOT NULL,
	[Customer_NK] [nvarchar](10) NULL,
	[Name] [nvarchar](150) NULL,
	[Gender] [nvarchar](6) NULL,
	[MemberType] [int] NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_Customer_NDS] PRIMARY KEY CLUSTERED 
(
	[Customer_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerType_NDS]    Script Date: 20-Nov-23 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerType_NDS](
	[MemberType_SK] [int] IDENTITY(1,1) NOT NULL,
	[MemberType_NK] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_MemberType] PRIMARY KEY CLUSTERED 
(
	[MemberType_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_NDS]    Script Date: 20-Nov-23 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_NDS](
	[Invoice_SK] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_NK] [nvarchar](15) NULL,
	[CustomerId] [int] NULL,
	[ProductId] [int] NULL,
	[BranchId] [int] NULL,
	[PaymentId] [int] NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_Invoice_NDS] PRIMARY KEY CLUSTERED 
(
	[Invoice_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType_NDS]    Script Date: 20-Nov-23 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType_NDS](
	[PaymentType_SK] [int] IDENTITY(1,1) NOT NULL,
	[PaymentType_NK] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentType_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_NDS]    Script Date: 20-Nov-23 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_NDS](
	[Product_SK] [int] IDENTITY(1,1) NOT NULL,
	[Product_NK] [nvarchar](5) NULL,
	[Name] [nvarchar](50) NULL,
	[UnitPrice] [money] NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_Product_NDS] PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLine_NDS]    Script Date: 20-Nov-23 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLine_NDS](
	[ProductLine_SK] [int] IDENTITY(1,1) NOT NULL,
	[ProductLine_NK] [nvarchar](5) NULL,
	[Name] [nvarchar](50) NULL,
	[Source] [int] NULL,
	[Status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
 CONSTRAINT [PK_ProductLine] PRIMARY KEY CLUSTERED 
(
	[ProductLine_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Source_NDS]    Script Date: 20-Nov-23 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Source_NDS](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[created_Date] [datetime] NULL,
	[updated_Date] [datetime] NULL,
 CONSTRAINT [PK_Source] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_NDS]    Script Date: 20-Nov-23 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_NDS](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Source_NDS] ([Id], [Name], [created_Date], [updated_Date]) VALUES (1, N'supermarket_sales', CAST(N'2023-11-20T23:07:01.077' AS DateTime), CAST(N'2023-11-20T23:07:01.077' AS DateTime))
GO
INSERT [dbo].[Status_NDS] ([Id], [Name], [createdDate], [updatedDate]) VALUES (1, N'Active', CAST(N'2023-11-20T18:05:21.193' AS DateTime), CAST(N'2023-11-20T18:05:21.193' AS DateTime))
INSERT [dbo].[Status_NDS] ([Id], [Name], [createdDate], [updatedDate]) VALUES (2, N'Inactive', CAST(N'2023-11-20T18:05:21.193' AS DateTime), CAST(N'2023-11-20T18:05:21.193' AS DateTime))
GO
ALTER TABLE [dbo].[Branch_NDS]  WITH CHECK ADD  CONSTRAINT [FK_City_NDS_Source_NDS] FOREIGN KEY([Source])
REFERENCES [dbo].[Source_NDS] ([Id])
GO
ALTER TABLE [dbo].[Branch_NDS] CHECK CONSTRAINT [FK_City_NDS_Source_NDS]
GO
ALTER TABLE [dbo].[Branch_NDS]  WITH CHECK ADD  CONSTRAINT [FK_City_NDS_Status_NDS] FOREIGN KEY([Status])
REFERENCES [dbo].[Status_NDS] ([Id])
GO
ALTER TABLE [dbo].[Branch_NDS] CHECK CONSTRAINT [FK_City_NDS_Status_NDS]
GO
ALTER TABLE [dbo].[Customer_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Customer_NDS_Source_NDS] FOREIGN KEY([Source])
REFERENCES [dbo].[Source_NDS] ([Id])
GO
ALTER TABLE [dbo].[Customer_NDS] CHECK CONSTRAINT [FK_Customer_NDS_Source_NDS]
GO
ALTER TABLE [dbo].[Customer_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Customer_NDS_Status_NDS] FOREIGN KEY([Status])
REFERENCES [dbo].[Status_NDS] ([Id])
GO
ALTER TABLE [dbo].[Customer_NDS] CHECK CONSTRAINT [FK_Customer_NDS_Status_NDS]
GO
ALTER TABLE [dbo].[CustomerType_NDS]  WITH CHECK ADD  CONSTRAINT [FK_MemberType_Source_NDS] FOREIGN KEY([Source])
REFERENCES [dbo].[Source_NDS] ([Id])
GO
ALTER TABLE [dbo].[CustomerType_NDS] CHECK CONSTRAINT [FK_MemberType_Source_NDS]
GO
ALTER TABLE [dbo].[CustomerType_NDS]  WITH CHECK ADD  CONSTRAINT [FK_MemberType_Status_NDS] FOREIGN KEY([Status])
REFERENCES [dbo].[Status_NDS] ([Id])
GO
ALTER TABLE [dbo].[CustomerType_NDS] CHECK CONSTRAINT [FK_MemberType_Status_NDS]
GO
ALTER TABLE [dbo].[Invoice_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_NDS_Branch_NDS] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch_NDS] ([Branch_SK])
GO
ALTER TABLE [dbo].[Invoice_NDS] CHECK CONSTRAINT [FK_Invoice_NDS_Branch_NDS]
GO
ALTER TABLE [dbo].[Invoice_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_NDS_Customer_NDS] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer_NDS] ([Customer_SK])
GO
ALTER TABLE [dbo].[Invoice_NDS] CHECK CONSTRAINT [FK_Invoice_NDS_Customer_NDS]
GO
ALTER TABLE [dbo].[Invoice_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_NDS_PaymentType_NDS] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[PaymentType_NDS] ([PaymentType_SK])
GO
ALTER TABLE [dbo].[Invoice_NDS] CHECK CONSTRAINT [FK_Invoice_NDS_PaymentType_NDS]
GO
ALTER TABLE [dbo].[Invoice_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_NDS_Product_NDS] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product_NDS] ([Product_SK])
GO
ALTER TABLE [dbo].[Invoice_NDS] CHECK CONSTRAINT [FK_Invoice_NDS_Product_NDS]
GO
ALTER TABLE [dbo].[PaymentType_NDS]  WITH CHECK ADD  CONSTRAINT [FK_PaymentType_NDS_Source_NDS] FOREIGN KEY([Source])
REFERENCES [dbo].[Source_NDS] ([Id])
GO
ALTER TABLE [dbo].[PaymentType_NDS] CHECK CONSTRAINT [FK_PaymentType_NDS_Source_NDS]
GO
ALTER TABLE [dbo].[PaymentType_NDS]  WITH CHECK ADD  CONSTRAINT [FK_PaymentType_NDS_Status_NDS] FOREIGN KEY([Status])
REFERENCES [dbo].[Status_NDS] ([Id])
GO
ALTER TABLE [dbo].[PaymentType_NDS] CHECK CONSTRAINT [FK_PaymentType_NDS_Status_NDS]
GO
ALTER TABLE [dbo].[Product_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Product_NDS_Source_NDS] FOREIGN KEY([Source])
REFERENCES [dbo].[Source_NDS] ([Id])
GO
ALTER TABLE [dbo].[Product_NDS] CHECK CONSTRAINT [FK_Product_NDS_Source_NDS]
GO
ALTER TABLE [dbo].[Product_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Product_NDS_Status_NDS] FOREIGN KEY([Status])
REFERENCES [dbo].[Status_NDS] ([Id])
GO
ALTER TABLE [dbo].[Product_NDS] CHECK CONSTRAINT [FK_Product_NDS_Status_NDS]
GO
ALTER TABLE [dbo].[ProductLine_NDS]  WITH CHECK ADD  CONSTRAINT [FK_ProductLine_NDS_Source_NDS] FOREIGN KEY([Source])
REFERENCES [dbo].[Source_NDS] ([Id])
GO
ALTER TABLE [dbo].[ProductLine_NDS] CHECK CONSTRAINT [FK_ProductLine_NDS_Source_NDS]
GO
ALTER TABLE [dbo].[ProductLine_NDS]  WITH CHECK ADD  CONSTRAINT [FK_ProductLine_NDS_Status_NDS] FOREIGN KEY([Status])
REFERENCES [dbo].[Status_NDS] ([Id])
GO
ALTER TABLE [dbo].[ProductLine_NDS] CHECK CONSTRAINT [FK_ProductLine_NDS_Status_NDS]
GO
USE [master]
GO
