USE [master]
GO
/****** Object:  Database [SourceDA]    Script Date: 16-Nov-23 6:47:46 PM ******/
CREATE DATABASE [SourceDA]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SourceDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SourceDA]
GO
/****** Object:  Table [dbo].[City_Source]    Script Date: 16-Nov-23 6:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City_Source](
	[Branch] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Source]    Script Date: 16-Nov-23 6:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Source](
	[ProductID] [nvarchar](255) NULL,
	[Unit price] [float] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLine_Source]    Script Date: 16-Nov-23 6:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLine_Source](
	[Product line] [nvarchar](255) NULL,
	[ProductLineID] [nvarchar](255) NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Source]    Script Date: 16-Nov-23 6:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Source](
	[Branch] [nvarchar](255) NULL,
	[Invoice ID] [nvarchar](255) NULL,
	[Customer type] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[ProductID] [nvarchar](255) NULL,
	[Quantity] [float] NULL,
	[Tax 5%] [float] NULL,
	[Total] [float] NULL,
	[Payment] [nvarchar](255) NULL,
	[cogs] [float] NULL,
	[gross margin percentage] [float] NULL,
	[gross income] [float] NULL,
	[Rating] [float] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
